/* Fonts family */
@font-face {
  font-family: 'Segoe Script';
  src: url('../fonts/SegoeScript.woff2') format('woff2'), url('../fonts/SegoeScript.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Segoe UI';
  src: url('../fonts/SegoeUI.woff2') format('woff2'), url('../fonts/SegoeUI.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* Color*/
/* Basic setting */
html {
  font-size: 10px;
}
.main {
  padding: 3rem 0;
}
.row {
  margin: 0rem;
}
button:focus,
input:focus,
a:focus,
textarea:focus,
.slick-slide:focus {
  outline: none;
}
/* Typografy */
section {
  height: 100rem;
}
.container {
  width: 100%;
}
.section-header {
  font-family: 'Segoe UI', sans-serif;
  font-weight: 800;
  margin-right: 2rem;
  padding: 5rem;
  text-align: center;
  font-size: 4rem;
  text-transform: uppercase;
  color: #3a3e40;
}
/* Navigation */
.logo {
  margin: 0rem 10rem;
  -webkit-transform: translateX(-10rem);
          transform: translateX(-10rem);
}
.nav-block {
  font-family: 'Segoe UI', sans-serif;
  font-weight: 800;
  font-size: 1.8rem;
  color: #3a3e40;
  padding-top: 2rem;
  padding-right: 5rem;
  text-transform: uppercase;
}
.nav-item {
  padding-left: 5rem;
  text-align: center;
}
.nav-link:hover {
  color: #fa5e03 !important;
}
.nav-link:active {
  color: #fa5e03 !important;
}
.navbar {
  width: 100%;
}
.navbar-brand {
  width: 10rem;
}
.navbar-block {
  width: 1.5rem;
}
.navbar-toggler:active {
  border: none;
}
.navbar-collapse {
  width: 100%;
  position: static;
  z-index: 90;
}
.navbar-img {
  width: 7rem;
  margin-right: 5rem;
}
/* Main */
.main {
  padding: 0rem;
  width: 100%;
  height: 100%;
  background: url(../img/main-bg.jpg) center center no-repeat;
  background-size: cover;
}
.main-header {
  font-family: 'Segoe Script', sans-serif;
  font-size: 5rem;
  line-height: 10rem;
  padding: 3rem 5rem;
}
.main-button {
  font-family: 'Segoe UI', sans-serif;
  font-weight: 800;
  font-size: 2rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  padding: 1rem 3rem;
  border-radius: 7px;
  background-color: #fa5e03;
  border: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.main-button:hover {
  background-color: #464b4d;
}
.main-button-block {
  padding: 20rem 0rem;
}
.main-button-classes {
  margin-bottom: 7rem;
}
.main-button-schedule {
  -webkit-transform: translateY(15rem);
          transform: translateY(15rem);
}
.main-button-subscribe {
  display: inline;
  font-size: 1.3rem;
  color: #ffffff;
  width: 15.5rem;
  height: 4.5rem;
  border-radius: 0px 7px 7px 0px;
}
/*Yoga benefits*/
.benefits {
  height: 68rem;
  background: url(../img/benefit_img.jpg) center center no-repeat;
  background-size: cover;
}
.benefits h2 {
  font-size: 3rem;
}
.benefits-block {
  font-family: 'Segoe UI', sans-serif;
  font-weight: 800;
  font-size: 4.5rem;
  text-transform: uppercase;
  color: #3a3e40;
}
.benefits-block-1 {
  text-align: center;
  padding-top: 7rem;
  padding-left: 7rem;
}
.benefits-block-2 {
  text-align: center;
  padding-top: 7rem;
  padding-left: 10rem;
}
.benefits-block-3 {
  text-align: center;
  padding-top: 17rem;
  padding-right: 9rem;
}
.benefits-block-4 {
  text-align: center;
  padding-top: 17rem;
  padding-right: 5rem;
}
/* Our Classes */
.classes {
  height: 65rem;
  background-color: #e5e5e5;
}
.classes-slider {
  padding: 0 2rem;
}
.classes-block {
  text-align: center;
  margin: 3rem 0rem;
}
.classes-block h3 {
  font-family: 'Segoe UI', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  padding-top: 3rem;
  -webkit-transform: translateX(-10%);
          transform: translateX(-10%);
}
.classes-block-img {
  display: block;
  margin: 0 auto;
}
.classes-button {
  padding-top: 2rem;
  -webkit-transform: translateX(60%);
          transform: translateX(60%);
  margin-bottom: 5rem;
}
.slick-prev:before,
.slick-next:before {
  color: #3a3e40 !important;
}
/* Schedule */
.schedule {
  background: url(../img/Check_out_bg.jpg) center center no-repeat;
  background-size: cover;
  height: 65rem;
  padding-top: 0rem;
  margin-right: 0rem;
}
.schedule-header {
  font-family: 'Segoe UI', sans-serif;
  font-weight: 400;
  line-height: 10rem;
  padding: 7rem 0rem;
  margin-right: 0rem;
}
.schedule-button {
  width: 25rem;
  -webkit-transform: translateY(15rem);
          transform: translateY(15rem);
}
/* Coaches */
.coaches {
  height: 100%;
  padding-top: 3rem;
  background-color: #e5e5e5;
}
.coaches-block {
  text-align: center;
  background-color: #ffffff;
  margin: 3rem ;
}
.coaches-block p {
  font-size: 1.5rem;
  padding: 0 3.5rem;
}
.coaches-img {
  width: 100%;
}
.coaches-img img {
  display: block;
  margin: 0 auto;
}
.coaches-name {
  font-family: 'Segoe UI', sans-serif;
  font-weight: 800;
  font-size: 2.6rem;
  text-align: center;
  margin: 3rem 0;
}
/* Try Now */
.tryNow {
  padding: 0rem;
  height: 40rem;
}
.tryNow-2 {
  padding: 0rem;
  -webkit-transform: translateY(-38rem);
          transform: translateY(-38rem);
}
.tryNow-text {
  font-family: 'Segoe UI', sans-serif;
  font-weight: 800;
  color: #ffffff;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  padding-top: 14rem;
}
.tryNow-title {
  font-family: 'Segoe UI', sans-serif;
  font-weight: 800;
  color: #ffffff;
  font-size: 4.6rem;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 8rem;
}
.tryNow-block {
  width: 100%;
  height: 40rem;
  background: url(../img/Media.jpg) center center no-repeat;
}
.tryNow-phone {
  display: inline-block;
  -webkit-transform: translateX(60%);
          transform: translateX(60%);
}
.tryNow-phone:hover {
  color: #f29d52 !important;
  text-decoration: none;
}
.tryNow-button {
  width: 40rem;
  -webkit-transform: translateX(45%);
          transform: translateX(45%);
}
/* Follow Us */
.followUs {
  height: 100%;
  background-color: #3a3e40;
}
.followUs-title {
  width: 20rem;
  font-size: 1.4rem;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  padding: 3rem 0;
}
.followUs-title-blogs {
  display: inline-block;
  -webkit-transform: translateX(8rem);
          transform: translateX(8rem);
}
.followUs-text {
  font-size: 1.2rem;
  color: #ffffff;
  width: 12rem;
  padding-top: 3rem;
  margin: 0;
}
.followUs-text-subs {
  width: 40rem;
  line-height: 3rem;
  padding-top: 0rem;
}
.followUs-img {
  width: 10rem;
}
.followUs-box {
  width: 51.5rem;
  margin-left: 0rem;
  margin-right: 0rem;
}
.followUs-block {
  width: 33%;
  display: inline-block;
  margin-bottom: 1rem;
}
.followUs-link {
  font-size: 1.2rem;
  color: #ffffff;
  text-decoration: none;
  margin: 1rem 2rem;
}
.followUs-link:hover {
  color: #fa5e03 !important;
  text-decoration: none;
}
.followUs-form {
  width: 30rem;
  padding-top: 3.8rem;
  -webkit-transform: translateX(-1.5rem);
          transform: translateX(-1.5rem);
}
.followUs-btn {
  width: 15rem;
  height: 4.6rem;
  font-size: 1.4rem;
  padding: 0rem;
}
.followUs-network {
  width: 25%;
  margin-bottom: 4rem;
}
.form-control {
  height: 4.5rem;
  font-size: 1.5rem;
  border-radius: 7px 0px 0px 7px;
}
.rights {
  font-size: 1.4rem;
  text-align: center;
  text-transform: uppercase;
  color: #fa5e03;
}
/*  Большой экран, ПК*/
/* xl - ноутбук*/
@media (max-width: 1200px) {
  .main-header {
    font-size: 4rem;
    line-height: 7rem;
  }
  .benefits h2 {
    font-size: 2.5rem;
  }
  .benefits-block-1 {
    padding-left: 6rem;
  }
}
/* lg - планшет*/
@media (max-width: 991px) {
  .logo {
    margin: 1rem 0rem;
    -webkit-transform: translateX(-3rem);
            transform: translateX(-3rem);
  }
  .navbar-brand {
    width: 20rem;
  }
  .navbar-nav {
    position: absolute;
    background-color: #ffff;
    opacity: 0.8;
  }
  .nav-item {
    padding-left: 1rem;
  }
  .main {
    background-position: 75% 0%;
  }
  .benefits-header {
    padding-top: 2.5rem;
  }
  .benefits-block-1 {
    width: 20rem;
    padding-top: 0rem;
    -webkit-transform: translate(-10rem, 100%);
            transform: translate(-10rem, 100%);
  }
  .benefits-block-2 {
    width: 20rem;
    padding-top: 0rem;
    -webkit-transform: translateX(35rem);
            transform: translateX(35rem);
  }
  .benefits-block-3 {
    width: 11rem;
    padding-top: 2rem;
    -webkit-transform: translate(4rem, 150%);
            transform: translate(4rem, 150%);
  }
  .benefits-block-4 {
    width: 10rem;
    padding-top: 2rem;
    padding-right: 0rem;
    -webkit-transform: translate(14rem, 150%);
            transform: translate(14rem, 150%);
  }
  .classes {
    height: 53rem;
  }
  .classes h2 {
    font-size: 3.5rem;
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem);
  }
  .classes-img {
    width: 80%;
  }
  .schedule-button {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
  .tryNow-button {
    -webkit-transform: translateX(25%);
            transform: translateX(25%);
  }
  .tryNow-phone {
    -webkit-transform: translateX(35%);
            transform: translateX(35%);
  }
  .followUs-box {
    width: 30rem;
    margin: auto 0px;
  }
  .followUs-img {
    width: 70%;
    margin-left: 2rem;
  }
  .followUs-text {
    padding-left: 2rem;
  }
}
/* md - телефон*/
@media (max-width: 767px) {
  .logo {
    margin-right: 10rem;
    margin-left: 0rem;
  }
  .nav-block {
    margin-left: 65%;
    padding-top: 0;
    width: 15rem;
    height: 29.5rem;
  }
  .nav-item {
    border: 2px solid #fa5e03;
    width: 15rem;
    padding: 0.5rem 3rem;
  }
  .nav-item-coaches {
    border-top: none;
  }
  .navbar-nav {
    position: absolute;
    background-color: #eaeaea;
    opacity: 0.8;
    padding-right: 0rem;
  }
  .navbar .main-header {
    font-size: 3rem;
  }
  .navbar .benefits h2 {
    font-size: 2rem;
  }
  .navbar .benefits-block-1 {
    -webkit-transform: translate(-16rem, 100%);
            transform: translate(-16rem, 100%);
  }
  .navbar .benefits-block-2 {
    -webkit-transform: translate(25rem, 7%);
            transform: translate(25rem, 7%);
  }
  .navbar .benefits-block-3 {
    -webkit-transform: translate(-9rem, 160%);
            transform: translate(-9rem, 160%);
  }
  .navbar .benefits-block-4 {
    -webkit-transform: translate(43rem, 50%);
            transform: translate(43rem, 50%);
  }
  .navbar .schedule {
    height: 45rem;
  }
  .navbar .schedule-header {
    -webkit-transform: translateY(-15%);
            transform: translateY(-15%);
  }
  .navbar .schedule-button {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
  .navbar .tryNow-text {
    width: 30rem;
  }
  .navbar .tryNow-text-1 {
    -webkit-transform: translateY(-27%);
            transform: translateY(-27%);
  }
  .navbar .tryNow-text-2 {
    -webkit-transform: translate(130%, -10%);
            transform: translate(130%, -10%);
  }
  .navbar .tryNow-title-1 {
    -webkit-transform: translate(-25%, -7%);
            transform: translate(-25%, -7%);
    font-size: 2.5rem;
  }
  .navbar .tryNow-phone {
    width: 30rem;
    -webkit-transform: translate(130%, 10%);
            transform: translate(130%, 10%);
    font-size: 3.5rem;
  }
  .navbar .tryNow-button-1 {
    -webkit-transform: translate(15%, -20%);
            transform: translate(15%, -20%);
  }
  .navbar .tryNow-button-2 {
    -webkit-transform: translateX(120%);
            transform: translateX(120%);
  }
  .navbar .tryNow-btn {
    font-size: 1.2rem;
    width: 15rem;
  }
  .navbar .followUs-part {
    width: 35rem;
  }
  .navbar .followUs-part-2 {
    -webkit-transform: translateX(30%);
            transform: translateX(30%);
  }
  .navbar .followUs-part-3 {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  .navbar .followUs-box {
    width: 100%;
  }
  .navbar .followUs-network {
    width: 5rem;
  }
  .navbar .followUs-title-3 {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .navbar .followUs-text {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .navbar .followUs-form {
    -webkit-transform: translate(5%, -120%);
            transform: translate(5%, -120%);
  }
  /* sm - телефон*/
}
@media (max-width: 767px) and (max-width: 575px) {
  .logo {
    margin-left: 4rem;
  }
  .nav-block {
    margin-left: 55%;
  }
  .navbar-brand {
    width: 10rem;
  }
  .navbar-img {
    width: 10rem;
  }
  .main {
    background-position: 80% 0%;
  }
  .main-header {
    font-size: 2.5rem;
    line-height: 4rem;
    text-align: left;
    width: 100%;
    padding: 3rem;
  }
  .main-button {
    font-size: 1.2rem;
    width: 15rem;
    margin-left: 2rem;
  }
  .main-button-block {
    -webkit-transform: translateY(5rem);
            transform: translateY(5rem);
  }
  .benefits {
    height: 47rem;
    background-size: 200%;
    background-position: top;
  }
  .benefits h1 {
    font-size: 3rem;
  }
  .benefits h2 {
    font-size: 1.8rem;
  }
  .benefits-block-1 {
    -webkit-transform: translate(-2rem, -30%);
            transform: translate(-2rem, -30%);
  }
  .benefits-block-2 {
    -webkit-transform: translate(22rem, -150%);
            transform: translate(22rem, -150%);
  }
  .benefits-block-3 {
    -webkit-transform: translateY(150%);
            transform: translateY(150%);
  }
  .benefits-block-4 {
    -webkit-transform: translate(36rem, 40%);
            transform: translate(36rem, 40%);
  }
  .classes {
    height: 62rem;
  }
  .classes-img {
    width: 70%;
    margin: 0rem 7rem;
  }
  .classes-box {
    width: 48rem;
  }
  .classes h3 {
    -webkit-transform: translateX(2%);
            transform: translateX(2%);
  }
  .schedule h2 {
    font-size: 3.5rem;
    line-height: 6rem;
    padding-top: 10rem;
  }
  .schedule-button {
    -webkit-transform: translate(20%, 50%);
            transform: translate(20%, 50%);
  }
  .tryNow-text-2 {
    -webkit-transform: translate(80%, -2rem);
            transform: translate(80%, -2rem);
  }
  .tryNow-phone {
    -webkit-transform: translate(80%, 1rem);
            transform: translate(80%, 1rem);
  }
  .tryNow-button-1 {
    -webkit-transform: translate(5%, -20%);
            transform: translate(5%, -20%);
  }
  .tryNow-button-2 {
    -webkit-transform: translateX(80%);
            transform: translateX(80%);
  }
  .followUs-part {
    width: 20rem;
  }
  .followUs-title-blogs {
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
  }
  .followUs-text {
    width: 5rem;
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
  }
  .followUs-text-subs {
    width: 20rem;
    -webkit-transform: translateX(-130%);
            transform: translateX(-130%);
  }
  .followUs-img {
    width: 90%;
  }
  .followUs-network {
    width: 3.5rem;
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
  .followUs-form {
    -webkit-transform: translateY(-13rem);
            transform: translateY(-13rem);
  }
  .followUs-btn {
    width: 8rem;
    margin-left: 0rem;
  }
  .input-group {
    width: 20rem;
  }
}
@media (max-width: 767px) and (max-width: 375px) {
  .logo {
    margin-left: 3rem;
    height: 8rem;
    width: 8rem;
  }
  .main-header {
    font-size: 2rem;
    padding-top: 4rem;
  }
  .benefits {
    height: 40rem;
    background: url(../img/Benefits_mobile.jpg) top no-repeat;
    background-size: 100%;
  }
  .benefits h1 {
    font-size: 2.5rem;
  }
  .benefits-header {
    padding-top: 2rem;
  }
  .benefits-block-1 {
    padding-left: 0rem;
    width: 100%;
    -webkit-transform: translateX(5rem);
            transform: translateX(5rem);
  }
  .benefits-block-2 {
    margin-left: 0rem;
    padding-left: 0rem;
    -webkit-transform: translate(2rem, 220%);
            transform: translate(2rem, 220%);
  }
  .benefits-block-3 {
    width: 100%;
    -webkit-transform: translate(8rem, 200%);
            transform: translate(8rem, 200%);
  }
  .benefits-block-3 br {
    display: none;
  }
  .benefits-block-4 {
    width: 100%;
    -webkit-transform: translate(-4rem, 300%);
            transform: translate(-4rem, 300%);
  }
  .benefits-block-4 br {
    display: none;
  }
  .classes {
    height: 50rem;
  }
  .classes h2 {
    font-size: 2.5rem;
    padding-left: 0rem;
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
  }
  .classes h3 {
    font-size: 1.7rem;
  }
  .classes-img {
    width: 60%;
  }
  .classes-box {
    width: 37rem;
    padding: 0rem;
  }
  .slick-next,
  .slick-prev {
    display: none !important;
  }
  .coaches h2 {
    font-size: 2.5rem;
    padding: 0rem;
  }
  .tryNow-block {
    background-position: top right;
  }
  .tryNow-text-1 {
    display: none;
  }
  .tryNow-text-2 {
    -webkit-transform: translateY(33rem);
            transform: translateY(33rem);
  }
  .tryNow-title-1 {
    -webkit-transform: translateY(7rem);
            transform: translateY(7rem);
  }
  .tryNow-phone {
    padding-bottom: 0rem;
    -webkit-transform: translate(1%, 33rem);
            transform: translate(1%, 33rem);
  }
  .tryNow-button-1 {
    -webkit-transform: translate(15%, 3rem);
            transform: translate(15%, 3rem);
  }
  .tryNow-button-2 {
    display: none;
  }
  .followUs-part {
    width: 100%;
  }
  .followUs-box {
    -webkit-transform: translateY(-7rem);
            transform: translateY(-7rem);
  }
  .followUs-title {
    -webkit-transform: translateX(25%);
            transform: translateX(25%);
  }
  .followUs-title-2 {
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
  }
  .followUs-title-3 {
    -webkit-transform: translateX(-60%);
            transform: translateX(-60%);
  }
  .followUs-img {
    margin-left: 0rem;
  }
  .followUs-text {
    width: 10rem;
    text-align: center;
    margin-left: 0rem;
  }
  .followUs-text-subs {
    width: 100%;
    padding-left: 0rem;
    -webkit-transform: translate(-55%, -40%);
            transform: translate(-55%, -40%);
  }
  .followUs-network-1 {
    -webkit-transform: translateX(-15rem);
            transform: translateX(-15rem);
  }
  .followUs-network-2 {
    -webkit-transform: translateY(-6rem);
            transform: translateY(-6rem);
  }
  .followUs-form {
    -webkit-transform: translate(-35%, -45%);
            transform: translate(-35%, -45%);
  }
  .followUs .rights {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
}
@media (max-width: 767px) and (max-width: 320px) {
  .main-header {
    font-size: 1.7rem;
  }
  .benefits h1 {
    font-size: 1.7rem;
  }
  .benefits h2 {
    font-size: 1.6rem;
  }
  .benefits-header {
    padding-top: 2rem;
  }
  .benefits-block-1 {
    padding-left: 0rem;
    width: 100%;
    -webkit-transform: translate(4rem, -70%);
            transform: translate(4rem, -70%);
  }
  .benefits-block-2 {
    margin-left: 0rem;
    padding-left: 0rem;
    -webkit-transform: translate(1rem, 180%);
            transform: translate(1rem, 180%);
  }
  .benefits-block-3 {
    width: 100%;
    -webkit-transform: translate(8rem, 150%);
            transform: translate(8rem, 150%);
  }
  .benefits-block-3 br {
    display: none;
  }
  .benefits-block-4 {
    width: 100%;
    -webkit-transform: translate(-4rem, 200%);
            transform: translate(-4rem, 200%);
  }
  .benefits-block-4 br {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */