/* Fonts family */
@font-face {
   font-family: 'Bonzai';
   src: url('../fonts/BonzaiRegular.eot');
   src: url('../fonts/BonzaiRegular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/BonzaiRegular.woff2') format('woff2'),
      url('../fonts/BonzaiRegular.woff') format('woff'),
      url('../fonts/BonzaiRegular.ttf') format('truetype'),
      url('../fonts/BonzaiRegular.svg#BonzaiRegular') format('svg');
   font-weight: 100;
   font-style: normal;
}

@font-face {
   font-family: 'Gabriola';
   src: url('../fonts/Gabriola.eot');
   src: url('../fonts/Gabriola.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Gabriola.woff2') format('woff2'),
      url('../fonts/Gabriola.woff') format('woff'),
      url('../fonts/Gabriola.ttf') format('truetype'),
      url('../fonts/Gabriola.svg#Gabriola') format('svg');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Segoe_UI';
   src: url('../fonts/SegoeUI.woff2') format('woff2'),
      url('../fonts/SegoeUI.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

.ban() {
   font-family: 'Gabriola', sans-serif;
   font-weight: 700;
}

.reg() {
   font-family: 'Segoe_UI', sans-serif;
}

.bold() {
   font-family: 'Bonzai', sans-serif;
   font-weight: 800;
}

// Color //
@btn-color: #c2a35e;
@text: #1c1d32;
@bg-indigo: #111228;
@bg-cobalt: #003399;
@bg-light: #bccbe8;
@bg-brown: #4f4e4d;
@light: #ffffff;

// Basic setting //
html {
   font-size: 10px;
}

body {
   .reg();
}

button,
input,
a,
textarea,
.slick-slide {
   &:focus {
      outline: none;
   }
}

.conteiner {
   width: 112.5rem;
   margin-left: 6rem;
}

.row {
   margin: auto 0rem;
}

.section {
   &-header {
      .bold();
      font-size: 6rem;
      color: @light;
      letter-spacing: 6px;
      text-align: center;
      padding-top: 6rem;
      padding-bottom: 8rem;
      text-shadow:
         -0 -1px 2px @bg-brown,
         0 -1px 2px @bg-brown,
         -0 1px 2px @bg-brown,
         0 1px 2px @bg-brown,
         -1px -0 2px @bg-brown,
         1px -0 2px @bg-brown,
         -1px 0 2px @bg-brown,
         1px 0 2px @bg-brown,
         -1px -1px 2px @bg-brown,
         1px -1px 2px @bg-brown,
         -1px 1px 2px @bg-brown,
         1px 1px 2px @bg-brown,
         -1px -1px 2px @bg-brown,
         1px -1px 2px @bg-brown,
         -1px 1px 2px @bg-brown,
         1px 1px 2px @bg-brown;

   }

   &-text {
      .reg();
      font-size: 2.5rem;
      color: @light;
      text-align: justify;

      &-night {
         padding-top: 2rem;
         text-decoration: underline;
      }
   }
}

.btn {
   width: 23rem;
   .reg();
   font-size: 3rem;
   font-weight: bold;
   letter-spacing: 0.15rem;
   color: @bg-indigo;
   padding: 1rem 3rem;
   border-radius: 7px;
   background-color: @btn-color;
   transition: all 0.2s;

   &:hover {
      background-color: lighten(@btn-color, 10%);
   }

   &-close {
      transform: translateY(-3rem);
   }
}

// Tipography //
section {
   padding: 10rem 0;
}

* {
   box-sizing: border-box;
}


// Main //
.main {
   padding: 0rem;
   width: 100%;
   height: 100%;
   background: url(../img/main-bg.jpg) center center no-repeat;
   background-size: cover;

   &-content {
      padding-top: 24rem;
   }

   &-title {
      .bold();
      color: @light;
      width: 70rem;
      text-align: center;
      letter-spacing: 5px;
      transform: translate(-8.5rem, -5.5rem);

      h1 {
         font-size: 7.2rem;
         text-transform: uppercase;
         text-shadow:
            -0 -2px 0 @bg-brown,
            0 -2px 0 @bg-brown,
            -0 2px 0 @bg-brown,
            0 2px 0 @bg-brown,
            -2px -0 0 @bg-brown,
            2px -0 0 @bg-brown,
            -2px 0 0 @bg-brown,
            2px 0 0 @bg-brown,
            -1px -2px 0 @bg-brown,
            1px -2px 0 @bg-brown,
            -1px 2px 0 @bg-brown,
            1px 2px 0 @bg-brown,
            -2px -1px 0 @bg-brown,
            2px -1px 0 @bg-brown,
            -2px 1px 0 @bg-brown,
            2px 1px 0 @bg-brown,
            -2px -2px 0 @bg-brown,
            2px -2px 0 @bg-brown,
            -2px 2px 0 @bg-brown,
            2px 2px 0 @bg-brown,
            -2px -2px 0 @bg-brown,
            2px -2px 0 @bg-brown,
            -2px 2px 0 @bg-brown,
            2px 2px 0 @bg-brown;

      }
   }

   &-subtitle {
      .ban();
      color: @light;
      text-align: center;
      text-transform: uppercase;
      transform: translate(0.5rem, -7rem);

      h2 {
         font-size: 4.2rem;
         letter-spacing: 8px;
         line-height: 8rem;
         text-shadow: -0 -2px 0 @bg-brown,
            0 -2px 0 @bg-brown,
            -0 2px 0 @bg-brown,
            0 2px 0 @bg-brown,
            -2px -0 0 @bg-brown,
            2px -0 0 @bg-brown,
            -2px 0 0 @bg-brown,
            2px 0 0 @bg-brown,
            -1px -2px 0 @bg-brown,
            1px -2px 0 @bg-brown,
            -1px 2px 0 @bg-brown,
            1px 2px 0 @bg-brown,
            -2px -1px 0 @bg-brown,
            2px -1px 0 @bg-brown,
            -2px 1px 0 @bg-brown,
            2px 1px 0 @bg-brown,
            -2px -2px 0 @bg-brown,
            2px -2px 0 @bg-brown,
            -2px 2px 0 @bg-brown,
            2px 2px 0 @bg-brown,
            -2px -2px 0 @bg-brown,
            2px -2px 0 @bg-brown,
            -2px 2px 0 @bg-brown,
            2px 2px 0 @bg-brown;
      }

      strong {

         font-size: 6rem;

      }
   }

   &-button {
      transform: translate(-6rem, 20rem);


   }
}

.btn-outline-dark {
   color: @bg-indigo  !important;
}

// Navigation

.navbar {
   background-color: @bg-light;
   opacity: 80%;
}

.nav {
   padding-left: 20rem;


   &-item {
      .reg();
      font-weight: bold;
      font-size: 1.8rem;
      text-transform: uppercase;
      padding-left: 4rem;
   }

   &-link {
      color: @text;

      &:hover {
         color: @bg-cobalt;
      }
   }
}

// About block
.about {
   height: 100%;
   background-color: @bg-indigo;

   &-box {

      display: inline-block;
      padding-top: 6rem;
      margin-bottom: 10rem;


   }

   &-img {
      width: 25rem;
   }
}

// Sound doctor block
.doctor {
   height: 100%;
   background: url(../img/doctor_bg.jpg) center center no-repeat;
   background-size: cover;

   a {
      text-decoration: none;
   }

   &-block {
      width: 50%;
      height: 30rem;

      &-1 {
         background-color: @bg-brown;
      }

      &-2 {
         background-color: @bg-light;
      }
   }

   &-header {
      .reg();
      color: #212529;
      font-size: 3.6rem;
      text-align: center;
      padding: 12.95rem 11.8rem;
      margin-bottom: 0rem;
   }

   &-img {
      width: 52rem;
      padding: 2.5rem;
   }

   &-button {
      width: 25.2rem;
      margin-top: 7.6rem;
      margin-bottom: 14.7rem;
   }
}

// About Author

.author {
   background-color: @bg-indigo;
   padding-bottom: 8rem;
}

// Form block 
.kind {
   height: 100%;
   background: url(../img/forms_bg_img.jpg) center center no-repeat;
   background-size: cover;

   &-block {
      width: 50%;
      height: 24.3rem;
   }

   &-header {
      .reg();
      font-size: 2.8rem;
      text-align: center;
      padding: 10rem;
      margin-bottom: 0rem;
   }

   &-img {
      width: 41rem;
      padding: 2.5rem;
   }

   &-button {
      width: 25.2rem;
      margin-top: 7.6rem;
      margin-bottom: 9rem;
   }

}

// review-block
.reviews {
   background-color: @bg-indigo;
   height: 80rem;

   &-header {
      padding-bottom: 4rem;
   }

   &-slider {
      width: 65rem;
      background-color: @btn-color;
      border-radius: 9rem;
      margin-left: auto;
      margin-right: auto;
   }

   &-img {
      width: 17rem;
      padding-top: 3.5rem;
   }

   &-text {
      width: 40rem;
      padding-top: 2rem;
      padding-bottom: 3rem;

   }
}

// Gong Night

.night {
   &-block {
      background: url(../img/Night_bg.jpg) center center no-repeat;
      background-size: cover;
   }

   &-btn {
      margin-top: 0rem;
      transform: translateX(6rem);
   }
}

// footer

.footer {
   background-color: @bg-indigo;

   &-img {
      width: 6rem;
      margin-left: 4rem;
      margin-bottom: 12rem;
   }
}

.mail {
   &-form {
      transform: translateX(-5rem);

      &-header {
         .ban();
         text-align: center;
         font-size: 3.6rem;
         letter-spacing: 4px;
         color: @light;
         padding-top: 6rem;
         padding-bottom: 3rem;
      }

      &-input {
         width: 35rem;
         height: 3rem;
         margin-left: 1rem;
         display: inline;
         border: 1px solid @bg-brown;
         border-radius: 1rem;


         &-2 {
            width: 71.5rem;
            height: 10rem;
            display: block;
            border: 1px solid @bg-brown;
            border-radius: 1rem;
            margin-top: 1rem;
            transform: translateX(1rem);

         }
      }
   }

   &-btn {
      margin-top: 4rem;
      transform: translateX(90%);
   }

}

// модальные окна
.modal {
   &-content {
      background: @bg-cobalt;
      border-radius: 2rem;
   }

   &-header {
      border-bottom: none !important;
   }

   &-img {
      width: 8rem;
      margin-left: 20rem;
   }

   &-text {
      .ban();
      font-size: 3.5rem;
      text-align: center;
      letter-spacing: 2px;
   }
}